-for article in @articles
  .listing
    %a{:href => "/post/#{article.slug}"}
      %h2= article.title
    .summary= article.body[0..50] unless article.body.nil?
    .date= article.created_at.strftime("Posted %m/%d/%Y")
